@charset "UTF-8"; 

/* --------------------------------------------------- */
/* central -> content */
/* --------------------------------------------------- */
#central .content_box .box {
	background-color:#FFF;
	margin:3px;
	padding:20px 35px 10px 35px;
	margin-bottom:20px;
	border-radius:10px; /* CSS3 */
	box-shadow:2px 2px 2px #000; /* CSS3 */
	-webkit-box-shadow:2px 2px 2px #000; /* CSS3 */
}

#central .content_box a,
#central .content_box a:visited {
	color:#4189C2;
	text-decoration:none;
}

#central .content_box a:hover {
	text-decoration:underline;
}

#central .content_box div p {
	display:block;
	padding-bottom:30px;
}

#central .content_box .context img {
	margin:2px 20px 10px 2px;
	border:solid 1px #000;
}

#central .content_box .context img.alignleft {
	clear:both;
	float:left;
}

#central .content_box .context iframe {
	margin:2px 0px 10px 2px;
}

#central .content_box .header-box {
	background: -moz-linear-gradient(270deg, #4189C2 0%, #659fcd 100%); /* CSS3 */
	background: -webkit-linear-gradient(270deg, #4189C2 0%, #659fcd 100%); /* CSS3 */
	margin:3px 3px 20px 3px;
	padding:12px 35px 10px 35px;
	border-radius:5px; /* CSS3 */
	box-shadow:0px 0px 5px #000; /* CSS3 */
	-webkit-box-shadow:0px 0px 5px #000; /* CSS3 */
	color:#FFF;
}

#central .content_box .archive-header span {
	font-size:26px;
}

#central .content_box .archive-header h1 {
	display:inline-block;
	font-size:26px;
	font-weight:100;
}

#central .content_box .title a {
	position:relative;
	top:5px;
	color:#000;
	text-decoration:none;
}

#central .content_box .title a:hover {
	color:#4189C2;
}

#central .content_box .title div {
	display:inline-block;
	position:relative;
	top:20px;
	width:50px;
	height:50px;
	margin-right:8px;
	background:url(../img/icon/all_category_icon.png) left top no-repeat;
	background-size:550px 100px;
	-webkit-background-size:550px 100px;	
}

#central .content_box .title .title_it          {background-position: -50px 0px;}
#central .content_box .title .title_programming {background-position:-450px 0px;}
#central .content_box .title .title_web_design  {background-position:-100px 0px;}
#central .content_box .title .title_apple       {background-position:-150px 0px;}
#central .content_box .title .title_marketing   {background-position:-350px 0px;}
#central .content_box .title .title_bicycle     {background-position:-400px 0px;}
#central .content_box .title .title_movie       {background-position:-300px 0px;}
#central .content_box .title .title_book        {background-position:-250px 0px;}
#central .content_box .title .title_photo       {background-position:-200px 0px;}
#central .content_box .title .title_life        {background-position:-500px 0px;}

#central .content_box .title h1 {
	display:inline;
	font-size:28px;
	line-height:200%;
}

#central .content_box .title h2 {
	display:inline;
	font-size:28px;
	line-height:200%;
}

#central .content_box .title h3 {
	display:inline;
	font-size:28px;
	line-height:200%;
}

#central .content_box time {
	margin-top:10px;
	font-size:12px;
	text-align:right;
}

#central .content_box .context {
	margin-top:45px;
	font-size:15px;
}

#central .content_box .context h2,
#central .content_box .context h3 {
	margin:20px 5px 30px 0px;
	padding:8px 0px 8px 18px;
	border-left:ridge 20px #4189C2;
	font-size:22px;
}

#central .content_box .context li {
	display:block;
	position:relative;
	top:-15px;
	left:20px;
	margin:5px 0px;
}

#central .content_box .context li::before {
	content:"・";
}

#central .content_box .more-link {
	display:block;
	margin-top:20px;
	font-size:16px;
	text-align:right;
}

#central .content_box a.more-link,
#central .content_box a:visited.more-link {
	color:#BABABA;
	text-decoration:none;
	font-weight:normal;
}

#central .content_box a:hover.more-link {
	color:#4189C2;
}

#central .content_box .comment-link {
	display:block;
	text-align:right;
	margin-top:10px;
	margin-bottom:30px;
}

#central .content_box blockquote {
	background:url(../img/icon/quote_top.png) no-repeat, url(../img/icon/quote_bottom.png) no-repeat;
/*	background-position:left top, right 10px bottom 33px; safari don't work */
	background-position:left top, right bottom;
	background-size:31px, 30px;
	-webkit-background-size:31px, 30px;
	background-color:rgba(200,223,237,0.2);

	border:rgba(255,255,255,0) solid 10px;
	display:block;
	position:relative;
	top:-15px;
	left:15px;
	margin:15px 10px 15px 15px;
	padding:50px 25px 20px 25px;
	max-width:600px;
	border-radius:20px; /* CSS3 */
}


/* --------------------------------------------------- */
/* central -> attached */
/* --------------------------------------------------- */
#central .content_box .hr {
	background:url(../img/comment-bar.jpg) 0 0 no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	position:relative;
	top:15px;
	height:4px;
}

#central .content_box .attached {
	margin-top:10px; 
	padding:10px 0px 0px 0px; 
	font-weight:bold;
}

#central .content_box .attached .share,
#central .content_box .attached .category,
#central .content_box .attached .tag  {
	font-size:13px;
}

#central .content_box .attached .title {
	color:#535353;
	font-weight:normal;
}

#central .content_box .attached .category a,
#central .content_box .attached .tag a {
	color:#000;
}

#central .content_box .attached .indicator {
	font-weight:normal;
}

#central .content_box .attached .indicator .before,
#central .content_box .attached .indicator .next {
	display:inline-block;
	width:250px;
}

#central .content_box .attached .indicator .before {
	text-align:left;
}

#central .content_box .attached .indicator .next {
	text-align:right;
}

#central .content_box .attached .share {
	overflow:hidden;
	margin-top:10px;
	height:20px;
}

#central .content_box .attached .share .title {
	float:left;
	width:90px;
}

#central .content_box .attached .share li {
	display:inline-block;
	float:left;
	margin-right:10px;
}
#central .content_box .attached .share .twitter {width:95px;}
#central .content_box .attached .share .gplus {width:60px;}

#central .content_box .attached .category {
	margin:15px 0px 10px 0px;
	clear:both;
}

#central .content_box .attached .category,
#central .content_box .attached .tag {
	margin:15px 0px;
	vertical-align:middle;
}

#central .content_box .attached .category {
	clear:both;
}

#central .content_box .attached .indicator {
	margin:20px 0px;
}

#central .content_box .attached .indicator .before {
	float:left;
}

#central .content_box .attached .indicator .next {
	float:right;
}

#central .content_box .attached .clear {
	clear:both;
	margin-bottom:10px;
}


/* --------------------------------------------------- */
/* central -> commentlist */
/* --------------------------------------------------- */
#comments .comment_count {
	text-align:right;
	font-size:17px;
	margin-right:30px;
	margin-top:15px;
	margin-bottom:20px;
}

#comments .comments-context {
	background:rgba(200,223,237,0.3);
	margin:0px 30px 30px 30px;
	padding:20px;
	min-height:100px;
	font-size:14px;
}

#comments .children .comments-context::before {
	content:url(../img/comment-bar.jpg);
	display:block;
	position:relative;
	left:65px;
	margin-bottom:15px;
}

#comments .children .comments-context {
	position:relative;
	top:-30px;
	padding:0px 20px 60px 20px;
	margin-bottom:0px;
}

#comments .author {
	background:#FFF;
	margin:10px;
	padding:10px;
	width:210px;
	height:60px;
	font-size:13px;
}
#comments .comments-context .author {float:left;}
#comments .children .comments-context .author {float:right;}

#comments .comments-context .author .avatar {
	display:block;
	float:left;
	margin-right:10px;
}

#comments .comments-context .author .fn {
	display:inline-block;
	margin-bottom:20px;
}

#comments .comments-context .author .comment-date {
	display:inline-block;
	width:140px;
	text-align:right;
}

#comments .comments-context .comment-text {
	max-width:320px;
	margin:10px 0px 0px 275px;
}
#comments .children .comments-context .comment-text {
	max-width:290px;
	margin:10px 0px 0px 65px;
}

#comments .comments-context .comment-text p {
	margin:0px;
	padding:5px 0px;
}

#comments .comments-context .comment-text em {
	display:inline-block;
	color:#F00;
}

#comments .reply {
	display:block;
	margin-top:10px;
	text-align:right;
}

#comments .comments-context .reply {
	margin-left:auto;
	margin-right:0px;
}

#comments .navigation {
	display:block;
	position:relative;
	top:-15px;
	padding:0px 35px;
}

#comments .navigation .nav-previous {
	display:block;
	float:left;
}

#comments .navigation .nav-next {
	display:block;
	float:right;
}

#comments .clearfix {
	clear:both;
}


/* --------------------------------------------------- */
/* central -> comment_inputbox */
/* --------------------------------------------------- */
#respond {
	position:relative;
	margin-top:35px;
	margin-left:auto;
	margin-right:0px;
	margin-bottom:20px;
	background:url(../img/comment-bg.png) 0px 0px no-repeat;
	background-size:450px 530px;
	-webkit-background-size:450px 530px;
	width:450px;
	height:460px;
	padding:50px 25px 25px 25px;
	color:#000;
}

#reply-title {
	padding-bottom:30px;
}

#respond .comment-form-author {
	position:relative;
}

#respond .comment-form-email {
	position:relative;
	top:10px;
}

#respond .comment-form-url {
	position:relative;
	top:20px;
}

#respond .comment-label {
	position:absolute;
	left:10px;
}

#respond .comment-input {
	position:absolute;
	left:140px;
	width:250px;
	height:23px;
	font-size:16px;
	background-color:rgba(200,223,237,1);
}

#respond .comment-form-comment {
	position:relative;
	top:35px;
	left:6px;
}

#comment {
	width:385px;
	height:170px;
	background-color:rgba(200,223,237,1);
	resize:none;
	font-size:16px;
} /* #respond .comment-form-comment #comment */

#respond .form-submit {
	position:relative;
	top:15px;
	left:197px;
}

#respond input[name="submit"] {
	background:url(../img/comment_button.png) left top no-repeat;
	width:200px;
	height:50px;
	color:#FFF;
	font-size:16px;
	border:0 none;
	cursor:pointer; /* CSS3 */
}
#respond input[type="submit"]       {background-position:0px   0px;}
#respond input[type="submit"]:hover {background-position:0px -50px;}


/* --------------------------------------------------- */
/* central -> indicator */
/* --------------------------------------------------- */
#central .content_box .page-nav {
	padding-top:20px;
	text-align:center;
}

#central .content_box .page-nav li {
	display:inline;
	list-style:none outside none;
}

#central .content_box .page-nav li a {
	border:1px solid #FFF;
	background-color:#FFF;
	text-decoration:none;
	border-radius:5px; /* CSS3 */
}

#central .content_box .page-nav li a:hover {
	border: 1px solid #999;
	text-decoration:none;
}

#central .content_box .page-nav li.current span {
	border:1px solid #FFF;
	color:#FFF;
	font-weight:bold;
	border-radius:5px; /* CSS3 */
}

#central .content_box .page-nav li.first span,
#central .content_box .page-nav li.previous span,
#central .content_box .page-nav li.next span,
#central .content_box .page-nav li.last span {
	background:#FFF;
	border:1px solid #FFF;
	text-decoration:none;
	border-radius:5px; /* CSS3 */
}

#central .content_box .page-nav li.page_nums span {
	background:#FFF;
	border:1px solid #FFF;
}

#central .content_box .page-nav li a,
#central .content_box .page-nav li.current span,
#central .content_box .page-nav li.first span,
#central .content_box .page-nav li.previous span,
#central .content_box .page-nav li.next span,
#central .content_box .page-nav li.last span,
#central .content_box .page-nav li.page_nums span {
	display:inline-block;
	position:relative;
	width:34px;
	height:27px;
	padding-top:7px;
	vertical-align:middle;
}

/* --------------------------------------------------- */
/* central -> back to top */
/* --------------------------------------------------- */
#central .back_to_top a {
	background:url(../img/up_to_top_button.png) no-repeat;
	margin-left:auto;
	margin-right:0px;
	display:block;
	width:54px;
	height:50px;
	position:relative;
	top:10px;
}
#central .back_to_top a       {background-position:0px   0px;}
#central .back_to_top a:hover {background-position:0px -56px;}
