@charset "UTF-8"; 

/* --------------------------------------------------- */
/* header */
/* --------------------------------------------------- */
#header .logo {
	display:block;
	position:absolute;
	top:13px;
	left:11px;
}

#header .description {
	float:left;
	display:block;
	position:relative;
	top:42px;
	left:340px;
	width:350px;
	font-size:12px;
	color:#FFF;
	line-height:15px;
}

#header .bread_crump {
	position:absolute;
	top:160px;
	left:30px;
	width:1000px;
	font-size:14px;
	font-weight:lighter;
	vertical-align:middle;
}

#header .bread_crump a {
	color:#FFF;
	text-decoration:none;
}

#header .bread_crump a:hover {
	text-decoration:underline;
}

#header .social_icon {
	position:absolute;
	top:24px;
	right:18px;
}

#header .social_icon div {
	display:inline-block;
	position:relative;
	width:32px;
	height:32px;
	background:url(../img/icon/all_social_icon.png) no-repeat;
}

#header .social_icon .twitter          {background-position:   0px   0px;left:-40px;}
#header .social_icon .twitter:hover    {background-position:   0px -32px;}
#header .social_icon .facebook         {background-position: -32px   0px;left:-30px;}
#header .social_icon .facebook:hover   {background-position: -32px -32px;}
#header .social_icon .linkedin         {background-position: -64px   0px;left:-20px;}
#header .social_icon .linkedin:hover   {background-position: -64px -32px;}
#header .social_icon .foursquare       {background-position: -96px   0px;left:-10px;}
#header .social_icon .foursquare:hover {background-position: -96px -32px;}
#header .social_icon .rss              {background-position:-128px   0px;left:  0px;}
#header .social_icon .rss:hover        {background-position:-128px -32px;}

#search_box {
	position:absolute;
	top:140px;
	right:14px;
}

#search_box .search_form {  
	display:block;
	position:relative;
	top:-34px;
	width:242px;
	height:38px;
	background:url(../img/searchbox.png) left top no-repeat;
}

#search_box div.magnifier {
	display:inline-block;
	position:relative;
	left:5px;
	width:20px;
	height:20px;
	background:url(../img/icon/all_icon.png) top left no-repeat;
	background-size:80px 40px;
	-webkit-background-size:80px 40px;	
	z-index:1;
}
#search_box div.magnifier {background-position:-60px 0px;}

#search_box input.keywords {  
	position:absolute;
	top:7px;
	left:29px;
	width:195px;
	border:1px solid #FFF;
	font-size:18px;
	outline:none;
}


/* --------------------------------------------------- */
/* footer */
/* --------------------------------------------------- */
#footer {
	word-spacing:0.1em;
}

#footer .text {
	color:#BABABA;
}

#footer a, #footer a:visited {
	color:#BABABA;
	text-decoration:none;
}

#footer a:hover {
	color:#4189C2;
	text-decoration:underline;
}

#footer .footer_content {
	padding-top:30px;
	width:1024px;
	height:210px;
	margin:0 auto;
}

#footer .footer_content .title {
	font-size:16px;
	margin-bottom:10px;
}

#footer .footer_content .aboutme,
#footer .footer_content .ontheweb1,
#footer .footer_content .ontheweb2,
#footer .footer_content .link {
	float:left;
	padding:0px 20px;
	font-size:12px;
}

#footer .footer_content .aboutme {
	width:300px;
}

#footer .footer_content .aboutme p {
	padding-bottom:4px;
}

#footer .footer_content .aboutme div {
	display:inline-block;
	position:relative;
	width:20px;
	height:20px;
	margin-right:7px;
	background:url(../img/icon/all_icon.png) top left no-repeat;
	background-size:80px 40px;
	-webkit-background-size:80px 40px;	
}
#footer .footer_content .aboutme div.mail {background-position:-40px 0px;}

#footer .footer_content .aboutme span.mail {
	display:inline-block;
	position:relative;
	top:-6px;
}

#footer .footer_content .aboutme span.mail:hover {
	text-decoration:underline;
}

#footer .footer_content .ontheweb1 {
	position:relative;
	width:165px;
	padding-right:5px;
}

#footer .footer_content .ontheweb2 {
	position:relative;
	width:170px;
	padding-top:33px;
}

#footer .footer_content .ontheweb1 div,
#footer .footer_content .ontheweb2 div {
	display:inline-block;
	position:relative;
	width:20px;
	height:20px;
	margin-right:10px;
	background:url(../img/icon/all_social_icon.png) top left no-repeat;
	background-size:140px 40px;
	-webkit-background-size:140px 40px;	
}

#footer .footer_content .ontheweb1 div.twitter    {background-position:   0px 0px;}
#footer .footer_content .ontheweb1 div.facebook   {background-position: -20px 0px;}
#footer .footer_content .ontheweb1 div.linkedin   {background-position: -40px 0px;}
#footer .footer_content .ontheweb1 div.foursquare {background-position: -60px 0px;}
#footer .footer_content .ontheweb1 div.rss        {background-position: -80px 0px;}
#footer .footer_content .ontheweb2 div.github     {background-position:-100px 0px;}
#footer .footer_content .ontheweb2 div.gplus      {background-position:-120px 0px;}

#footer .footer_content span.name {
	display:inline-block;
	position:relative;
	top:-5px;
}

#footer .footer_content .ontheweb1 span.name:hover,
#footer .footer_content .ontheweb2 span.name:hover {
	text-decoration:underline;
}

#footer .copyright {
	clear:both;
	margin:35px 0px 20px 0px;
	text-align:center;
}

#footer .copyright p {
	margin-top:3px;
	word-spacing:0.3em;
}
